ENV=production

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=27017 
DB_USER=replace-me
DB_PASSWORD=replace-me
DB_NAME=awary

# For the following variables, you might want some long random string (if you have openssl installed you can use `openssl rand -base64 64`)
JWT_SECRET=replace-me
API_ADMIN_AUTHORIZATION=replace-me

ENABLE_USER_REGISTRATION=true
RATE_LIMIT_ENABLED=false

# Uncomment to enable
#
# MAX_ACCOUNT=100
# MAX_PROJECT_PER_ACCOUNT=4
# MAX_METRIC_PER_PROJECT=5
# METRICS_MAX_UPDATE_PER_MINUTE=6
# METRICS_HISTORY_LENGTH=1000
